# big / generated / runtime
models/*.gguf
open-webui-data/**
ollama/models/*
ollama/infer_ollamma.py
#ollama/models/
#ollama/models/*
logs/*
vectordb/**/*.faiss
vectordb/**/*.pkl

# safety
**/.gitattributes

